/* nejsme vcerejsi, pouzivame moderni box model */
*,
:after,
:before {
  /*box-sizing: border-box;*/
}
.container {
  border: 1px solid #bfd6e6;
  background-color: #dde9f3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.activity img {
  margin: 10px;
  background-size: contain;
  flex-basis: 300px;
  height: 200px;
}

.read img {
  order: 2;
}

.cook {
  order: 4;
}

.code {
  order: 3;
}

.family {
  order: 1;
}

.netflix {
  order: 5;
}

.sleep {
  order: 6;
}

/* --------------- */
/* zadání: 
Prohlédni si html soubor. Nastyluj obrázky, aby se zobrazily vedle sebe, vycentrovaly v obalovém divu a zalamovaly, pokud se nevejdou na stránku. 
Potom obrázky seřaď podle toho, jakou aktivitu budeš dělat dnes po lekci :)   */
